@charset "utf-8";
/* ----- NEW CSS ----- */
/* 
	author:	 Daniel Ionescu
	email:	 daniel.ionescu@arnia.ro
*/
body {
	margin: 0;
}

#xeDocs .cleared {
	clear: both;
}

#xeDocs * {
	font-family: Arial, Helvetica, sans;
}

#xeDocs {
	font-size: 13px;
	color: #000;
	min-width: 980px;
}

#xeDocs a {
	color: #1780ab;
}

#xeDocs p {
	line-height: 20px;
}

#xeDocsHeader {
	background: #424242;
	border-bottom: 1px solid #8a8a8a;
	padding: 10px;
}

#xeDocsHeader h1 {
	float: left;
	margin: 0;
}

#xeDocsHeader h1 a {
	color: #fff;
	text-decoration: none;
}

.xeDocsButton {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #f1f1f1;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(228,228,228)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(228,228,228) 0%,
		rgb(255,255,255) 100%
	);
	border: 3px solid #7e7e7e;
	line-height: 30px;
	padding: 7px 4px;
	margin: 2px;
}

.xeDocsButton:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(228,228,228))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(228,228,228) 100%
	);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.xeDocsButton:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(228,228,228))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(228,228,228) 100%
	);
}

.xeDocsButton img, .xeDocsButtonAdmin  img {
    margin: 0 0 0 10px;
    position: relative;
    top: 5px;
}

.xeDocsButton span {
	padding: 10px;
	color: #000;
	font-weight: bold;
}

.xeDocsButtonAdmin {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #c40000;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(170,0,0)),
		color-stop(1, rgb(226,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(170,0,0) 0%,
		rgb(226,0,0) 100%
	);
	border: 3px solid #8f1212;
	line-height: 30px;
	padding: 7px 4px;
	margin: 2px;
}

.xeDocsButtonAdmin:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(226,0,0)),
		color-stop(1, rgb(170,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(226,0,0) 0%,
		rgb(170,0,0) 100%
	);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.xeDocsButtonAdmin:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(226,0,0)),
		color-stop(1, rgb(170,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(226,0,0) 0%,
		rgb(170,0,0) 100%
	);
}

.xeDocsButtonAdmin span {
	padding: 10px;
	color: #fff;
	font-weight: bold;
}

a.xeDocsButtonAdmin, a.xeDocsButton  {
	text-decoration: none;
}

#xeDocsHeader #toc_structure span {
	background: url('../img/icon_change_toc_structure.png') 10px 0 no-repeat;
	padding: 1px 15px 2px 36px;
}

#xeDocs #navMenu {
	float: right;
	list-style-type: none;
	margin: 4px 0 0 0;
}

#xeDocs #navMenu  li {
	float: left;
}

#xeDocsTree {
	float: left;
	width: 250px;
	margin-left: -250px;
	border-right: 1px solid #dfdfdf;
}

#xeDocsTree ul {
	margin: 5px;
	padding: 0 0 0 20px;
}

#xeDocsTree ul li {
	margin: 8px 0;
}

#xeDocsTree ul a {
	text-decoration: none;
}

#xeDocsContent {
	float: left;
}

#xeDocsBody {
	padding-left: 250px;
}

#xeDocsVersion {
	background: #f4f4f4;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px;
}

#xeDocsVersion p {
	margin: 7px 0;
}

#xeDocsTree h3 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px dotted #b9b8b8;
	padding-bottom: 4px;
	margin: 8px;
}

#xeDocsSearch {
	height: 50px;
	overflow: hidden;
}

#xeDocsSearchText {
	padding: 8px 35px 6px 9px;
	margin: 8px;
	width: 188px
}

#xeDocsSearchButton {
	position: relative;
	top: -32px;
	left: 217px;
	background: url('../img/search_button.png') 0 0 no-repeat;
	border: 0;
	width: 16px;
	height: 16px;
}

#xeDocsSearchButton:hover {
	background: url('../img/search_button.png') -16px 0 no-repeat;
	cursor: pointer;
}

#xeDocsSearchButton:focus {
	background: url('../img/search_button.png') -16px 0 no-repeat;
	top: -31px;
	left: 218px;
	outline: none;
	-moz-outline-style: none;
}

#xeDocsSearchButton:active {
	outline: none;
}

#xeDocsFooter {
	text-align: right;
	padding: 10px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: #f8f8f8;
}

#xeDocsToP {
	padding: 0 0 0 14px;
	background: url('../img/icon_arrow_top.png') 0 0 no-repeat;
}

#xeDocsEditorActions {
	float: right;
	margin-top: 4px;
}

#xeDocsEditorActions img {
	margin: 0 5px 0 0;
	vertical-align: top;
}

#xeDocsContentContainer {
	margin: 20px 10px 0 10px;
	overflow: hidden;
}

#xeDocsBreadcrumbs {
	margin: 0 10px;
	border-top: 1px dotted #b9b8b8;
	padding-top: 5px;
}

#xeDocsPageNav {
	margin: 5px 0;
	border-top: 1px dotted #b9b8b8;
	border-bottom: 1px dotted #b9b8b8;
	padding: 0 10px;
	background: #fffbde;
}

#xeDocsPrev {
	float: left;
	text-align: left;
}

#xeDocsNext {
	float: right;
	text-align: right;
}

#xeDocsPrev, #xeDocsNext {
	font-weight: bold;
	color: #333;
	width: 50%;
}

#xeDocsCurrentVersion {
	color: #ba0000;
}

#xeDocsComments {
	float: left;
	width: 98.3%;
	margin: 0 5px
}

#xeDocsComments h3, #xeDocsSearchForm  h3 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px dotted #b9b8b8;
	padding-bottom: 4px;
	margin: 5px 0;
}

.xeDocsTable {
	width: 99%;
	padding: 5px;
}

.xeDocsTable thead th {
	border-top: 1px solid #000;
	border-bottom: 1px solid #515151;
	background: #5e5e5e; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e5e5e 0%, #7f7f7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e5e5e 0%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e5e5e 0%,#7f7f7f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e5e5e 0%,#7f7f7f 100%); /* IE10+ */
	background: linear-gradient(top,  #5e5e5e 0%,#7f7f7f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.xeDocsTable tbody td {
	border-bottom: 1px solid #d7d7d7;
	padding: 10px;
	line-height: 20px;
}

.xeDocsTable tr {
	background: #f4f4f4;
}

.xeDocsTable thead td:first-child {
	border-left: 1px solid #000;
}

.xeDocsTable thead td:last-child {
	border-right: 1px solid #000;
}


.xeDocsTable tbody td:first-child {
	border-left: 1px solid #d7d7d7;
}

.xeDocsTable tbody td:last-child {
	border-right: 1px solid #d7d7d7;
}

.xeDocsTable tr:nth-child(2n) {
	background: #fff;
}

.xeDocsTable tbody tr:hover {
	background: #ffecec;
}

.xeDocsTable th.left, .xeDocsTable td.left {
	text-align: left;
}

.xeDocsTable th.center, .xeDocsTable td.center {
	text-align: center;
}

#xeDocsSearchFormTop, #xeDocsSearchFormBottom {
	margin: 5px;
	text-align: right;
}

.xeDocsPagination {
	border-top: 1px solid #dfdfdf;
	padding: 10px;
	text-align: center;
}

#xeDocsSearchResults {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}

#xeDocsSearchResults li {
	border-top: 1px dotted #B9B8B8;
}

#xeDocsSearchResults h4 {
	font-size: 18px;
	font-weight: normal;
	color: #BA0000;
	text-decoration: none;
	margin: 10px 0;
}

#xeDocsSearchResults h4 a {
	color: #BA0000;
	text-decoration: none;
}

#xeDocsSearchResults h4 span {
	font-size: 14px;
	color: #999;
}

#xeDocsSearchInfo {
	padding: 10px;
	margin: 0;
}

#xeDocsTitle {
	margin: 0 10px 6px 10px;
	padding: 10px 0 0 0;
	color: #ba0000;
	font-size: 22px;
}

#xeDocsBody2 {
	padding: 10px;
}

.xeDocsBodyButton {
	font-weight: bold;
	color: #fff !important;
	font-size: 13px;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
}

.xeDocsBodyButton span {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: #bababa; /* Old browsers */
	background: -moz-linear-gradient(top,  #bababa 0%, #707070 32%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(32%,#707070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bababa 0%,#707070 32%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bababa 0%,#707070 32%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bababa 0%,#707070 32%); /* IE10+ */
	background: linear-gradient(top,  #bababa 0%,#707070 32%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
	padding: 7px 5px;
}

.xeDocsBodyButton span span {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15), 0 0 0 1px #7f7f7f;
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15), 0 0 0 1px #7f7f7f;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15), 0 0 0 1px #7f7f7f;
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #424242 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#424242)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#424242 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#424242 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#424242 100%); /* IE10+ */
	background: linear-gradient(top,  #707070 0%,#424242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#424242',GradientType=0 ); /* IE6-9 */
	padding: 5px 16px;
}

.xeDocsBodyButton:hover span span {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35), 0 0 0 1px #949494;
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35), 0 0 0 1px #949494;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35), 0 0 0 1px #949494;
	background: #df0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #df0000 0%, #ad0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df0000), color-stop(100%,#ad0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #df0000 0%,#ad0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #df0000 0%,#ad0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #df0000 0%,#ad0000 100%); /* IE10+ */
	background: linear-gradient(top,  #df0000 0%,#ad0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df0000', endColorstr='#ad0000',GradientType=0 ); /* IE6-9 */
}

.xeDocsBodyButton:active span span {
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.55), 0 0 0 1px #949494;
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.55), 0 0 0 1px #949494;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.55), 0 0 0 1px #949494;
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc0000 0%, #a10000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#a10000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc0000 0%,#a10000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cc0000 0%,#a10000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc0000 0%,#a10000 100%); /* IE10+ */
	background: linear-gradient(top,  #cc0000 0%,#a10000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#a10000',GradientType=0 ); /* IE6-9 */
}

.xeDocsInputText {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #F4F4F4; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #e2e2e2 0%,#ffffff 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 ); IE6-9 */
	border: 1px solid #989898;
	font-size: 13px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 8px 9px 6px 9px;
}

.xeDocsInputText:focus {
	background: #ffecec;
	outline: none;
}

#xeDocsNoDocument {
	margin: 10px;
	font-weight: bold;
}

.xeDocsTableLabel {
	font-weight: bold;
	width: 150px;
}

#xeDocsCommentsList .top {
	vertical-align: top;
}

#xeDocsCommentsList td {
	padding: 5px;
}

#xeDocsCommentsList .middle {
	vertical-align: middle;
}

#xeDocsCommentsList tr:nth-child(2n) {
	background: #f4f4f4;
}

#xeDocsComment .date {
	text-align: right;
	color: #cb0000;
}

#xeDocsCommentList {
	padding: 0;
	list-style-type: none;
	margin: 5px 0;
}

#xeDocsCommentList li {
	border: 1px solid #d7d7d7;
	background: #f4f4f4;
	margin-bottom: 5px;
}

#xeDocsCommentList .profileImage {
	border: 1px solid #d7d7d7;
	margin: 5px;
	float: left;
}

#xeDocsCommentList .author {
	float: left;
	margin: 5px;
	font-weight: bold;
}

#xeDocsCommentList .date {
	float: right;
	margin: 5px;
	color: #cb0000;
}
#xeDocsCommentList .content,#xeDocsCommentList .option {
	border-top: 1px dotted #b9b8b8;
	padding: 5px;
}

#xeDocsCommentList .option {
	text-align: right;
	padding: 10px 5px;
}