@CHARSET "UTF-8";
h1 {
	font-size: 140%;
	color: #b4051b;
	font-weight: bold;
	padding: 5px 0;
	margin: 0.5em 0 2.5em 0;
	border-bottom: 3px solid #DDD;
}
h2 {
	font-size: 140%;
	color: #b4051b;
	font-weight: bold;
	padding: 5px 0;
	margin: 0.5em 0 2.5em 0;
	border-bottom: 3px solid #DDD;
}
h3 {
	font-size: 140%;
	color: #b4051b;
	font-weight: bold;
	padding: 5px 0;
	margin: 0.5em 0 2.5em 0;
	border-bottom: 3px solid #DDD;
}
h4 {
	font-size: 140%;
	color: #b4051b;
	font-weight: bold;
	padding: 5px 0;
	margin: 0.5em 0 2.5em 0;
	border-bottom: 3px solid #DDD;
}
h5 {
	font-size: 120%;
	color: #b4051b;
	font-weight: bold;
	padding: 3px 0;
	border-bottom: 2px dotted #DDD;
	margin: 2.5em 0 1.5em 0;
	width: 80%;
}
h6 {
	font-size: 110%;
	color: #b4051b;
	font-weight: bold;
	padding: 0;
	margin: 2.5em 0 1.0em 0;
}
p {
	margin: 0.8em 0;
}
p.label {
	font-weight: bold;
	margin: 1.8em 0 0.8em 0;
}
a:link {
	color: #2377c4;
}
ul, ol {
	margin: 0.8em 0;
    padding-left:20px;
}
li {
	margin: 0.5em 0;
}
li ul, li ol {
	margin: 0;
}
li ul li{
	list-style-type: circle;
	font-weight: normal;
	margin: 0.5em 0;
}
li ol li {
	font-weight: normal;
	margin: 0.5em 0;
}
li.bookmark {
	list-style-type: none;
	margin: 0.5em 0 0.5em -20px;
}
ol li.NumberTitle {
	font-weight: bold;
	margin-top: 0.8em;
}
li.desc, li.desc_d2, li.desc_d3 {
	list-style-type: none;
}
li.codep, li.codep_d2, li.codep_d3{
	list-style-type: none;
}
li.bul_d2, li.bul_d3{
}
.list-title {
	font-weight: bold;
}
.syntaxp {
	font-family: "Courier New", Courier;
	font-size: 90%;
	margin-top: -0.3em;
	margin-bottom: 0em;
	padding: 0.5em;
	line-height: 1.3em;
	background-color: #F3F2D7;
}
.codep, .codep_d2, .codep_d3 {
	font-family: "Courier New", Courier;
	font-size: 90%;
	margin-top: -0.3em;
	margin-bottom: 0em;
	padding: 0.3em 0.5em;
	line-height: 1.2em;
	background-color: rgb(228, 228, 228);
}
.output {
	font-family: Courier New;
	font-size: 90%;
	margin-top: -0.3em;
	margin-bottom: -0.3em;
	padding: 0.3em 0.5em;
	line-height: 1.2em;
	background-color: rgb(228, 228, 228);
}
.keyword {
	font-weight: Bold;
}
.var {
	font-style: italic;
}
.comment {
	font-family: "Verdana", Arial;
}
p.note {
	margin: 1.5em 0;
	padding: 1.0em 0;
	border-style: solid none;
	border-width: 1px 0;
	border-color: #A9A9A9;
}
.note-title {
	font-weight: bold;
	padding-right: 1.2em;
}
.notice-title {
	font-weight: bold;
	padding-right: 1.2em;
}
p.caption-table {
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	font-weight: bold;
	color: #585858;
}
table {
	margin-bottom: 1.5em;
	font-size: 95%;
	border-collapse: collapse;
}
table, td {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #BBB white;
}
th {
	padding: 0.2em 0.5em;
	white-space: nowrap;
	color: white;
	background-color: #BBB;
	border: 1px solid white;
}
td {
	padding: 0 0.5em;
	vertical-align: top;
}
table p {
	padding: 0.2em;
	line-height: 1.5em;
	margin: 0em;
}
table p.codep {
	margin: 0 -0.4em;
	padding: 0.1em 0.2em;
	font-size: 100%;
}
p.code {
	font-family: "Courier New", Courier;
	font-size: 90%;
	margin-top: -0.3em;
	margin-bottom: 0em;
	padding: 0.3em 0.5em;
	line-height: 1.5em;
	background-color: rgb(228, 228, 228);
}
p.syntax {
	font-family: "Courier New", Courier;
	font-size: 90%;
	margin-top: -0.3em;
	margin-bottom: 0em;
	padding: 0.5em;
	line-height: 1.6em;
	background-color: #F3F2D7;
}